{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<br><br>
<div class="audessusprofil">À propos de moi</div>

<section class="container intro background1" style="margin-right: 23%;"><br> <br>

    <div class="card">
  <div class="introduction">
    Profil/Introduction
  </div>
  <div class="card-body">
 <img class="profil" src="uploads/image/logo_profil.jpg" alt="">
    <p class="card-text">Je m’appelle Chanrothmony KHY, j’ai 26 ans et je suis Développeuse / Intégratrice Web à l'École du web à Gonesse (95).<br><br> Avant de débuter dans cette formation, j'ai suivi une formation en octobre 2019 dans le numérique ce qui m'a permis de découvrir le monde du numérique et je n'avais aucune notion dans ce domaine. <br> Ensuite, j'ai effectué une seconde formation dans le même domaine en décembre 2020. <br> Pendant ce parcours, j'ai pu m'initier un peu en codage (HTML/CSS). <br> Grâce à ces parcours, j'ai connu l'École du Web (LePoleS) et ceux-ci m'ont dirigé vers celle-ci. <br><br>
    Je suis maintenant intéressée par le développement web depuis mon début de parcours et j'aimerais consolider mes acquis dans ce domaine.
   Comme ayant déjà eu des connaissances en programmation informatique (HTML/CSS), j'ai pu les approfondir et pu connaître les différents modules. Cela m’a également permis de m'orienter vers la bonne voie car je souhaite par la suite devenir Développeuse/Intégratrice Web Full-Stack afin d’évoluer.</p>
  </div>
</div>

</section>

{% endblock %}
