{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<br>

<!-- ça c'est quand je clique sur un projet ça m'affiche l'image -->

<h1 class="text-center">Réalisations</h1>
<p class="soustitre">Maquettes , exercices et évaluations réalisés</p>
<section class="container">
<div class="card mt-5" style="width: 80rem; height: 100%">
  <div class="card-body mt-5">
 
    <img class="image1" src="{{asset('uploads/image/' ~ Projets.image)}}" alt="">
  </div>
</div>
</section>
{% endblock %}
